.heading {
    text-align: center;
    margin-top: 50px;
    border-top: 5px solid black;
    color: rgb(243, 112, 112)
}

.container {
    margin-top: 50px;
}

.idofthenews {
    display: none;
}

.aboutbody {
    text-align: center;
    margin-top: 10px;
}

.aboutUsTitle {
    text-align: center;
    margin-top: 50px;
}

.contactTitle {
    text-align: center;
    margin-top: 50px;
}

.contactDetail {
    text-align: center;
    margin-top: 50px;
}

table {
    margin: auto;
}

td {
    width: 50%;
}